.list {
  .list-layout {
    padding: 0 10px;
    background-color: #ffffff;
    margin-top: 10;
  }
  .list-content {
    padding: 24px;
    margin: 0;
  }

  .list-row {
    padding-bottom: 15px;
    border-bottom: 2px solid #f0f0f0;
  }
}
