<!--
 * @Descripttion:
 * @version:
 * @Author: hesisi
 * @Date: 2022-07-22 13:47:07
 * @LastEditors: hesisi
 * @LastEditTime: 2022-08-01 09:50:29
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assets</title>
</head>

<body>
    <div id="root" style="height: '100%'; overflow: hidden;"></div>
</body>

</html>
