.user-cont {
  height: 100%;
  width: 100%;
}
.user-sider {
  height: 100%;
  background: #ffffff !important;
  border-radius: 5px;
}
.right-cont {
  .table-search-wrapper {
    padding-top: 10px;
  }
  .table-operate-wrapper {
    top: 10px;
  }
}
.user-layout {
  .table-search-wrapper {
    padding: 5px 0px 0px 30px;
    min-height: 62px !important;
    .table-operate-wrapper {
      right: 30px;
    }
  }
  .ant-table-wrapper {
    padding: 0 30px;
  }
}
.account-group {
  .table-search-wrapper {
    padding-top: 8px !important;
    min-height: 52px !important;
  }
  .table-operate-wrapper {
    top: 8px !important;
  }
}
