@borderColor: #d9d9d9;
@activeColor: #1890ff;
@gap: 10px;

.menu {
  background: #f6f8fb;
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .menu-wrapper {
    height: 100%;
    width: 100%;
    // background: #fff;
  }
  .ant-breadcrumb {
    margin: @gap;
  }
}

.menu-config {
  vertical-align: middle;
  height: calc(100% - 58px);
  background: #fff;
  .col-wrapper {
    height: 100%;
    width: 100%;
    background: #fff;
    padding-top: 14px;
    border: 1px solid rgba(225, 229, 236, 1);
    border-radius: 10px;
  }
  .ant-row {
    height: 100%;
  }
  .menu-left {
    padding-right: 10px;
    height: 100%;
    background: #f6f8fb;
  }
  .row-content {
    height: calc(100% - 52px);
    overflow: hidden;
    .ant-col-16 {
      border-top: 0;
    }
  }
  .ant-col {
    // border: 1px solid @borderColor;
    // padding: @gap;
    line-height: 30px;
    border-bottom: 0;
    background: #f6f8fb;
  }
  .ant-col:nth-child(2n + 2),
  .ant-col:nth-child(n + 1) {
    border-right: 0;
  }
  .ant-col:nth-child(n + 4) {
    border-top: 0;
  }
}
.menu__btn-preview {
  text-align: right;
  padding-right: 15px;
  white-space: nowrap;
  min-width: 200px;
  button {
    margin-left: 10px;
  }
}
.menu__btn-add {
  text-align: right;
}

.config-panel__form-box {
  padding: 50px 30px;
}

.config-panel__form {
  .ant-col {
    border: none;
  }
}

.config-panel__icons {
  border: 1px solid @borderColor;
  border-radius: 5px;
  padding: @gap;
  .icons-box {
    cursor: pointer;
  }
}

.active {
  color: @activeColor;
}

.icons-span {
  margin-right: @gap;
}

.tree-btn__delete {
  // text-align: right;
  margin-left: 50px;
}

.menu-config__tree {
  display: flex;
  justify-content: space-between;
}

/* tree style */
.tree-node-wrapper {
  .icon-wrapper {
    display: inline-block;
    opacity: 0;
  }
  &:hover {
    .icon-wrapper {
      opacity: 1;
    }
  }
}

.back-wrapper {
  overflow: hidden;
  display: inline-block;
  color: #858585;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 15px;
  margin-left: 16px;
  cursor: pointer;
  & > span {
    margin-right: 6px;
  }
  img {
    width: 28px;
    margin-right: 10px;
    float: left;
    margin-top: -4px;
  }
}

.base-menu-title(@left: 20px) {
  position: relative;
  padding-left: @left;
  margin-left: 28px;
}
.menu-config__tree {
  & > span {
    .base-menu-title();
    position: relative;
    padding-left: 24px;
    margin-left: 18px;
  }
  & > span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 16px;
    height: 16px;
    background: url('../../../assets/icons/u710.svg') no-repeat center/100%;
  }
}
.menu-config__info {
  .base-menu-title(10px);
  padding-left: 0;
  margin-left: 16px;
  color: #0d6bff;
  letter-spacing: 0;
  font-weight: 400;
}
// .menu-config__info::before {
//   content: '';
//   position: absolute;
//   left: 0;
//   top: 2px;
//   width: 6px;
//   height: 16px;
//   background: url('../../../assets/icons/u713.svg') no-repeat center/100%;
// }
.menu-tree-wrapper,
.menu-config-wrapper {
  height: 100%;
  padding-left: 18px;
  padding-right: 50px;
}
.menu-config-wrapper {
  padding-left: 25px;
}
.menu-tree-wrapper {
  padding-right: 20px;
  height: calc(100% - 30px);
  padding-top: 14px;
}

.menu-tree-wrapper-content {
  height: calc(100% - 42px);
  margin-right: 0 !important;
  .ant-tree-title {
    display: inline-block;
  }
  .ant-tree-node-content-wrapper {
    white-space: nowrap;
  }
}
.icon-wrapper {
  margin-left: 10px;
  & > span {
    margin-right: 5px;
  }
}
.menu {
  height: 100%;
}
.tree-node-wrapper {
  white-space: nowrap;
}
.menu-top {
  height: 48px;
  margin-bottom: 8px;
  background: #fff;
  border: 1px solid rgba(225, 229, 236, 1);
  border-radius: 5px;
  line-height: 48px;
  & > div {
    height: 100%;
  }
}
.col-info {
  .menu-config-wrapper {
    height: calc(100% - 50px);
    padding-top: 20px;
    padding-right: 20px;
  }
}
.col-info {
  .ant-col {
    background: #fff;
  }
}
.form-button {
  overflow: hidden;
  button {
    float: right;
  }
}
::-webkit-scrollbar {
  display: initial;
}
