.logo {
  position: absolute;
  left: 20px;
  width: 80px;
  // height: 31px;
  margin-right: 24px;
  // background: rgba(255, 255, 255, 0.3);

  img {
    width: 100%;
  }
}

.site-layout-background {
  background: #fff;
}

.contentWrappeB {
  height: calc(100% - 58px);
}
.contentWrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
#root,
.layoutMain {
  height: 100%;
}
.avatar {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
}
.header {
  background: #0d6bff !important;
  position: relative;
  padding-right: 320px !important;
  padding-left: 120px !important;
  height: 52px !important;
  line-height: 52px !important;
  > ul {
    width: 100%;
  }
}

.menu {
  a {
    color: white !important;
  }
}

.user-message {
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 0;
  width: 320px;
  .user-detail {
    color: #fff;
  }
  .bell_tips {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
      width: 12px;
      height: 12px;
      display: flex;
      box-sizing: content-box;
      padding: 4px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #fff;
      background-color: red;
      position: relative;
      top: -2px;
      left: -10px;
      cursor: pointer;
      font-size: 12px;
    }
  }
  .messages-warp {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .messages {
    width: 400px;
    padding: 10px;
    height: calc(100vh - 200px);
    position: absolute;
    top: 70px;
    animation: moveDown 1s ease-in-out;
    border-radius: 4px;
    right: 30px;
    // box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    z-index: 100;
    // overflow: hidden;
    cursor: pointer;
    &::before {
    }
    .message_header {
      width: 100%;
      height: 40px;
      display: flex;
      color: #fff;
      font-weight: 600;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      & span {
        text-decoration: underline;
      }
    }
    .message_content {
      width: 100%;
      height: 100%;
      // height: calc(100% - 40px);
      overflow: scroll;
      // background-color: #fafafa;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .anticon-right {
        color: #0d6bff;
      }
      .message_item {
        width: 94%;
        padding: 10px;
        background-color: #fff;
        border-radius: 20px;
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #333;
        transition: all 0.2s;
        &:hover {
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
          background-color: #fafafa;
          transform: scale(1.05);
        }
        .icon_container {
          display: flex;
          justify-content: center;
          align-items: center;
          & div {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(13, 107, 255, 0.2);
            border-radius: 50%;
            font-size: 26px;
            color: rgb(13, 107, 255);
          }
        }
        .item {
          width: 66%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .items_title {
            font-weight: 600;
            display: inline-block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          // align-items: center;
          .circle {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 8px;
            border-radius: 50%;
          }
          & span {
            display: inline-block;
            height: 30px !important;
            line-height: 30px;
          }
          & div {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

.layout-content {
  height: calc(100% - 52px);
  background-color: #f0f2f5;
}
.ant-breadcrumb li:last-child {
  color: rgb(85, 86, 87) !important;
}

.active-bread {
  color: #0d6bff;
  font-weight: 600;
  font-size: 16px;
}
.ant-table-cell {
  & > span {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}

/* 弹框样式 */
.ant-modal-footer {
  padding-bottom: 30px !important;
}
.ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
  margin-left: 15px !important;
}
@keyframes moveDown {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    // top: 0;
    opacity: 1;
  }
}
.bread-normal {
  line-height: 28px;
}
.bread-click {
  cursor: pointer;
}
.bread-click:hover {
  color: #1890ff;
}
.tree-transfer {
  .ant-transfer-operation {
    .ant-btn:first-child {
      margin-bottom: 15px;
    }
    .ant-btn[disabled] {
      color: #0d6bff !important;
      border-color: rgba(13, 107, 255, 1) !important;
      background-color: #fff;
    }
  }
}

/* table */

.ant-table-tbody > tr > td {
  border-bottom: 0 !important;
}
.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  display: none;
}
.ant-table-thead > tr > th {
  color: #8591aa !important;
  font-weight: 600 !important;
  border-bottom: 0 !important;
  background: #f4f7f9 !important;
}
.ant-table-tbody > tr:nth-of-type(even) > td {
  background: #f9fbfc;
}

/* 分页 */
.ant-pagination-item,
.ant-select-selector {
  border-radius: 10px !important;
}
.ant-pagination-prev,
.ant-pagination-next {
  button {
    border-radius: 10px !important;
  }
}
// .ant-pagination-item{
//   background: #F9FBFC!important;
//   a{
//     color: #8995AD!important;
//   }
// }
.ant-pagination-item-active {
  background: #0d6bff !important;
  a {
    color: #fff !important;
  }
}
