.span_title {
  width: 72px;
  height: 25px;
  display: inline-block;
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #333333;
  letter-spacing: 0;
  cursor: pointer;
  padding-top: 16px;
  font-weight: 600;
}
.ant-collapse-content .ant-collapse-content-box {
  & .spanName {
    display: inline-block;
    width: 70px;
    text-align: right;
    margin: 6px 10px 2px 0px;
  }
  & .buttonBtn {
    cursor: pointer;
    border: none;
    padding: 2px 8px;
  }
  & .formInput {
    margin-top: 8px;
    display: flex;
    .ant-input {
      width: 160px;
    }
    .ant-input-number {
      width: 116px;
    }
  }
}
::-webkit-scrollbar {
  width: 1px;
}
